@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Open+Sans&family=Oswald:wght@500&family=Poppins:wght@200&family=Roboto&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6% 4%;
    font-weight: 800;
}
.main{
    width: 100%;
    height: 100%;
}
#navimg {
    height: 32px;
}
.cart {
    display: flex;
    align-items: center;
    width: 11%;
}
.bg {
    background-image: url(assets/kw-background.png);
    background-size: 100% 110%;
    background-repeat: no-repeat;
    height: 80%;
    padding: 5%;
    font-size: 27px;
    line-height: 72px;
    color: white;
}
.size{
    font-size: 25px;
    color: white;
}
/* .discover{
    padding-top: 12%;
    padding-left:5%;
} */

.content{
    padding: 12% 5%;
}
.row1{
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}
.sizeall{
    height: 270px;

}
.book1{
    line-height: 30px;
}
.para1{
    font-weight:900;
}
.para2{
    color: grey;
}
.btn{
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}
button {
    background-color: #6095ff;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 800;
    align-items: center;
    width: 73px;
    height: 33px;
    border-radius: 3px;
    border: none;
}
.cart-icon-white{
    width: 20px;
    height: 20px;
}
.game{
    margin-top: 12%;
}
#kristi{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 4px 90px;
    background-color: black;
    color: white;
}
.leftcontent{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.krishtitext{
    font-size:21px ;
    font-weight: 900;
    line-height: 40px;
}
.rightcontent{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 600px){
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:1.6% 8%;
    }
    .navimg{
        height: 25px;
    }
    .cart{
        width: 36%;
        text-align: center;
    }
    .bg{
        font-size: 15px;
        line-height: 40px;
        text-align: start;
        padding-top: 0px;
    }
    .size{
        font-size: 20px;
        font-weight: 600;

    }
    .content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .row1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer{
        padding: 0px 35px;
    }
    .leftcontent{
        text-align: center;
    }
    .haeding{
        width: 50px;
    }
}